.footer {
  font-size: 0.833rem;
  color: $color-text-thin;
  background: $color-bland;
  overflow: hidden;

  &-wrap {
    width: 1040px;
    margin: 60px auto;
  }

  &-navi {
    display: flex;
  }

  &-block {
    width: 100%;
    padding-right: 20px;

    li {
      margin: 10px 0;
    }

  }
  &-blanding {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &-logo-type {
    height: 40px;
    fill: $color-base;

    svg {
      height: 100%;
    }
  }

  &-logo-mark {
      width: 50px;
      height: 50px;
  }

  &-info {
    padding: 20px;
    border-top: 1px solid $color-border-deep;
    text-align: center;
    font-size: 0.833rem;
  }
  a {
    color: $color-text-thin;
  }
}

@media only screen and (max-width: 1040px) {
  .footer {
    &-wrap {
      width: 770px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    &-wrap {
      margin: 50px 0;
      padding: 0 20px;
      width: 100%;
    }

    &-navi {
      flex-wrap: wrap;
    }

    &-block {
      width: 50%;

      &:nth-child(even) {
        padding: 0;
      }
    }

    &-blanding {
      margin-top: 30px;
    }
  }
}
