.articleList {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  text-align: center;
  letter-spacing: normal;//firefoxカラム落ち防止
  margin: 0 -20px;

  li {
    display: inline-table;
    padding: 0 20px;
    margin-bottom: 100px;
    text-align: left;
    width: 50%;
  }

  &-image,&-noImage {
    padding-top : 58%;
    width: 100%;
    border-radius: 4px;
  }

  &-image {
    position: absolute;
    overflow: hidden;
  }

  img{
    width: 100%;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-noImage {
    position: relative;
    z-index: 99999;
    background: rgba(255, 255, 255, .03);
    display: block;
  }

  a {
    display: block;
    letter-spacing: 0.1rem;
  }

  &-title {
    line-height: 2;
    margin: 10px 0 5px 0;
    font-size: 1rem;
    font-weight: 600;
  }

  &-read {
    color : $color-text-thin;
    font-size: 0.833rem;
    font-family: $font-sub;
  }
}

@media screen and (max-width: 1040px) {
  .articleList {
    display: block;
    margin: 0;

    li {    
      width: 100%;
      padding: 0;

    }
  }
}
