.button {
  // font-size: 14px;
  padding: 8px 0;
  width: 180px;
  color: $color-text;
  border: 1px solid $color-text;
  display: inline-block;
  letter-spacing: 1em;
  text-indent:1em;
  border-radius: 4px;

  &:hover {
    color: $color-text-white;
    background: $color-bland;
    opacity: 1;
  }

  a {
    line-height: 20px;
  }

  &-wrapper {
    text-align: center;
    margin-top:25px;
  }
}
