.hero {
  height: 400px;
  background: radial-gradient(#dfdfdf, #f3f3f3);
  text-align: center;
  width: 100%;
  position: relative;


  &-white {
    padding-top: 60px;
    width: 100%;
    // height: 100%;
    // background: rgba(255,255,255,.7);
    // display: flex;
    // align-items: center;  /* 子要素をflexboxにより中央に配置する */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 99;
    // -webkit- transform: translateY(-50%) translateX(-50%);
  }

  &-wrap {
    // display: inline-block;
    // margin: 0 auto

    h1,p {
      // display: inline-block;
    }
  }

  &-title {
    width: 100%;
    svg {
      width: 200px;
    }
  }

  &-text {
    font-size: 1.2rem;
    opacity: 0;
    font-family: $font-sub;
  }


  &-logoVisul {
    position: absolute;
    background: url(images/logo-mark-white.svg) ;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    &-wrap {
      margin: 0 15px;
    }

    img {
      height: 100%;
    }

  }
}
