.spNavi {
    position: fixed;
    z-index: 9999;
    width: 70%;
    height: 100%;
    text-align: center;
    transform: translateX(-800px);
    height: 100%;
    background: #fff;

    ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        padding: 0 20px;
        // font-size: $fontSize-S;
        font-weight: 500;
    }

    li {
        float: none;
        position: static;
        text-align: left;
        display: table;
        width: 100%;
        border-bottom: 1px solid $color-sub;

        a {
          padding: 15px 24px 15px 0;
          color: $color-text;
          display: block;
          position: relative;

           &::after {
             content: $icon-arrowLine-right;
             font-family: "symbols";
             color: $color-bland;
             width: 24px;
             text-align: center;
             position: absolute;
             top: 50%;
             right: 0;
             margin-top: -1em;
           }
       }
    }
}



@media only screen and (min-width: 769px) {
  .spNavi {
    display: none;
      &-shadow {
        display: none;

      }

  }

}
